* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}
body {
  display: grid;
  grid-template-rows: 50vh 50vh;
  background: #0679c9;
  justify-items: center;
  align-items: center;
  height: 891px;
}
body .logo {
  display: grid;
  grid-template-rows: 14.85587583% 71.84035477% 13.52549889%;
  justify-items: center;
  align-items: center;
  height: 451px;
}
body .logo img {
  width: 403px;
  height: 324px;
}
body .logo span {
  text-align: center;
  color: #ffffff;
}
body .logo span h3 {
  font-size: 13px;
}
body .logo span h4 {
  font-size: 8px;
}
body .nav {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  width: 1243px;
  height: 332px;
}
body .nav dl {
  display: grid;
  grid-template-columns: 10% 1fr;
  align-items: center;
}
body .nav dl dd a {
  color: #ffffff;
}
body .header {
  width: 100vw;
  height: 50px;
  background: #0567ab;
  position: fixed;
  bottom: 0;
  justify-items: center;
  align-items: center;
  text-align: center;
  line-height: 50px;
}
body .header h1 {
  font-size: 5px;
  color: #b4b4b4;
}
